<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agenda</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/agenda.css" type='text/css' />
</head>
<body>

    <div class="container">
        <h2>Agenda</h2>
        <div class="list-group">
            <a class="list-group-item item" th:href="@{/agregar}">Agregar contacto</a>
            <a class="list-group-item item" href="#">Eliminar contacto</a>
            <a class="list-group-item item" href="#">Mostrar contactos</a>
        </div>
    </div>

</body>
</html>
